* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #888;
  background-color: #fff;
}

div {
  display: block;
}

header {
  display: block;
  position: relative;
  z-index: 2;
}

img {
  display: block;
  max-width: 100%;
  border-style: none;
}

.header-wrapper {
  border-top: 2px;
  border-width: 2px 0;
  padding: 40px 25px 35px 25px;
}

.header-logo img {
  width: 220px;
}

section {
  display: block;
}

.main {
  overflow: visible !important;
}

.hero {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}

.hero-img {
  background-image: url("/assets/hero.jpg");
  background-size: cover;
  background-position: -500px 23%;
  height: 55vh;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  width: 150%;
}

@media (min-width: 592px) {
  .hero-img {

  }
}