* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* @media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
} */

header, footer {
  display: block;
  padding: 40px 30px;
}

section {
  padding: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #888;
  background-color: #fff;
}


.header {
  grid-area: header;
}

.hero {
  grid-area: hero;
}

.careers-features {
  grid-area: careers;
}

.products {
  grid-area: main;
}

.features {
  grid-area: features;
}

.officers {
  grid-area: officers;
}

.footer {
  grid-area: footer;
}

.container {
  grid-template:
    [row1-start] "header header header header" 1fr [row1-end]
    [row2-start] "hero hero hero hero" 1fr [row2-end]
    [row3-start] "careers careers careers careers" 1fr [row3-end]
    [row4-start] "main main main main" 1fr [row4-end]
    [row5-start] "features features features features" 1fr [row5-end]
    [row6-start] "officers officers officers officers" 1fr [row6-end]
    [row7-start] "footer footer footer footer" 1fr [row7-end];
}

.header {
  justify-content: left;
  max-width: 100%;
  padding-bottom: 40px;
  padding: 40px 20px 30px;
}

/* @media only screen and (max-width: 75em) {
  .header {
    justify-content: center;
  }
} */

.header img {
  width: 248px;
  height: 24px;
}

.hero-img{
  background-image: url(/assets/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  justify-content: center;
  padding-top: 4rem;
}

.btn {
  background-color: #e97300;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-weight: lighter;
  padding: 0px;
  height: 1.5em;
  width: 7em;
  text-align: center;
}

.heading-1 h2, .heading-4{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #00945f;
}

.heading-1 h2{
  font-size: 2em;
  line-height: 2;
  border-bottom: 1px solid #00945f;
  border-bottom-width: 3px;
  text-align: center;
}

.heading-4 {
  font-size: 1.5em;
  line-height: 2;
}

p {
  font-weight: 100;
  font-size: small;
  line-height: 24px;
  /* padding-bottom: 30px; */
}

.careers-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.product a {
  color: #759b24;
}

.arrow {
  border: solid #759b24;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.product:nth-child(odd) {
  border-right: 1px solid #888;
  margin: 25px 20px 0 0;
  padding-right: 20px;
}

.product:nth-child(even) {
  margin: 25px 0 0 5px;
  padding-right: 20px;
}

.features-heading {
  text-align: center;
  background-color: #00945f;
  color: #fff;
  font-size: 2em;
  line-height: 2;
  font-weight: lighter;
  padding: 5px;
}

.features-text {
  text-align: left;
  background-color: #ebf7f5;
  font-size: small;
  font-weight: 100;
  padding: 18px 50px;
}

.officers {
  padding-bottom: 100px;
}

#officers-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  /* margin: 0; */
}

.officer img {
  width: 150px;
  height: 150px;
}

.officer {
  text-align: center;
  justify-self: center;
  width: 150px;
}

.officer:nth-child(even) blockquote{
  width: 300px;
  padding-right: 25px;
  margin-left: -40%;
}

blockquote {
  font-style: italic;
  font-size: small;
  width: 150px;
  margin: 0;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: relative;
  left: -20px;
  top: -20px;
  color: #eee;
}

figcaption {
  padding-top: 15px;
  color: #00945f;
}

footer {
  border-top: 3px solid #00945f;
}

.copyright {
  padding: 20px 0;
  text-align: left;
  line-height: 0.3cm;
  font-size: x-small;
}

.privacy {
  font-weight: bold;
  color: #000;
}

/* .heading-4 {
  font-size: 1.9rem;
} */
/*
@media only screen and (max-width: 50em) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 50rem) {
  .hero {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    height: 3rem;
    justify-self: center;
  }
}

.careers-features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
}

@supports (display: grid) {
  .careers-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
  }
}

.careers-feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}

@supports (display: grid) {
  .careers-feature {
    width: auto;
    margin-bottom: 0;
  }
}

.careers-text {
  font-size: 1.7rem;
} */