* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

header, footer {
  display: block;
  padding: 40px 30px;
}

section {
  padding: 15px 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #888;
  background-color: #fff;
}

.header {
  grid-area: header;
}

.hero {
  grid-area: hero;
}

.careers-features {
  grid-area: careers;
}

.products {
  grid-area: main;
}

.features {
  grid-area: features;
}

.officers {
  grid-area: officers;
}

.footer {
  grid-area: footer;
}

.container {
  grid-template:
    [row1-start] "header header header header" 1fr [row1-end]
    [row2-start] "hero hero hero hero" 1fr [row2-end]
    [row3-start] "careers careers careers careers" 1fr [row3-end]
    [row4-start] "main main main main" 1fr [row4-end]
    [row5-start] "features features features features" 1fr [row5-end]
    [row6-start] "officers officers officers officers" 1fr [row6-end]
    [row7-start] "footer footer footer footer" 1fr [row7-end];
}

.header {
  justify-content: left;
  max-width: 100%;
  padding-bottom: 40px;
  padding: 40px 20px 30px;
}

.header img {
  width: 248px;
  height: 24px;
}

.hero {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hero-img{
  background-image: url(/assets/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 5%;
  justify-content: center;
  padding-top: 30%;

  /* height: 100%;
  width: 100%; */
}

.btn {
  margin-top: 25px;
  background-color: #e97300;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: .2px;
  padding: 0px;
  height: 2em;
  width: 8em;
  text-align: center;
}

.heading-1 h2, .heading-4{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #00945f;
}

.heading-1 h2{
  font-size: 2.1em;
  line-height: 2;
  border-bottom: 1px solid #00945f;
  border-bottom-width: 3px;
  text-align: center;
  padding-top: 15px;
}

.heading-4 {
  font-size: 1.75em;
  line-height: 2;
}

p {
  font-weight: 100;
  font-size: small;
  line-height: 24px;
}

.careers-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.careers-feature {
  padding-top: 25px;
}

#products-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.product a {
  color: #759b24;
}

.arrow {
  border: solid #759b24;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.product:nth-child(odd) {
  border-right: 1px solid #888;
  margin: 25px 20px 0 0;
  padding-right: 20px;
}

.product:nth-child(even) {
  margin: 25px 0 0 5px;
  padding-right: 20px;
}

.features-heading {
  text-align: center;
  background-color: #00945f;
  color: #fff;
  font-size: 2em;
  line-height: 2;
  font-weight: lighter;
  padding: 5px;
}

.features-text {
  text-align: left;
  background-color: #ebf7f5;
  font-size: small;
  font-weight: 100;
  padding: 18px 50px;
}

.officers {
  padding-bottom: 100px;
}

#officers-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
}

.officer img {
  width: 130px;
  height: 130px;
}

.officer {
  text-align: center;
  justify-self: center;
  width: 150px;
}

.officer:nth-child(even) blockquote{
  width: 300px;
  padding-right: 25px;
  margin-left: -40%;
}

blockquote {
  font-style: italic;
  font-size: small;
  width: 150px;
  margin: 0;
  position: relative;
  display: flex;
}

blockquote:after {
  content: "\201C";
  font-size: 150px;
  position: absolute;
  left: 0;
  top: 0;
  color: #eee;
  margin-left: -25px;
  margin-top: -60px;
  opacity: 70%;
}

figcaption {
  padding-top: 15px;
  color: #00945f;
}

footer {
  border-top: 3px solid #00945f;
}

.copyright {
  padding: 20px 0;
  text-align: left;
  line-height: 0.3cm;
  font-size: x-small;
}

.copyright a {
  text-decoration: underline;
}

.privacy {
  font-weight: bold;
  color: #000;
}

